@import '/styles/typography'
@import '/styles/color'
@import '/styles/sizes'

body
    text-align: center
    padding: 0 2em
    background-color: $red-0

@media screen and ( max-width: $mobile )
    body
        background-color: #88e09e